header {
    text-align: center;
    background-image: linear-gradient(to right, lightskyblue, mediumblue, navy);
    color: white;
}

.btn {
    
    background-color: deepskyblue;
    color: white;
    margin-top: 5%;
    width: 100%;
}

#current-day {
    border: 1px solid black;
}

.favorable-uvi {
    background-color: green;
    color: white;
}

.moderate-uvi {
    background-color: orange;
    color: white;
}

.severe-uvi {
    background-color: red;
    color: white;
}

.day-card {
    margin-right: 1%;
}